// Navigation Styles here


.nav {
    font: @font-family;
    color: black; 
    width: 90%;
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
    border-bottom: 2px dashed silver;
    padding:5px 2px;
    
}